    <!-- FOOTER -->

    <!-- !! FOOTER NEEDS TO BE FIXED -->

    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid">
          <h6 class="display-6 navbar-brand"> Footer Here </h6>
        </div>
      </nav>