<%- include .././partials/header.ejs %> 

<%- include .././partials/main_nav.ejs %> 

    <!-- MAIN CONTENTS -->
    <main>
        <div class="container bg-info">
            <div class="row">
              <div class="col">
                  <P>Jiwoong Hong</P>
                  <p>I am jiwoong hong<br>
                     I do boxing<br>
                     I this will be updated into something awesome!
                    </p>
               
              </div>
                <div class="col">
                  My Picture goes Here!
                  <img class="img-fluid" src="http://studentweb.cencol.ca/jhong52/images/boxing.jpg" />
                </div>
            </div>
          </div>
    </main>

<%- include .././partials/bottom_nav.ejs %> 

<%- include .././partials/footer.ejs %> 