<%- include .././partials/header.ejs %>

  <%- include .././partials/main_nav.ejs %>

    <!-- Main Contents: About Us -->
    <section class="bg-dark text-light text-center p-5 text-sm-start">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>
              JIWOONG HONG
            </h1>
            <hr>
            <p>I am a well-trained, dedicated, and passionate web developer from Toronto, Ontario.
              I build solid websites with user friendly interface
              <hr>
              <button class="btn btn-lg btn-outline-light">Projects</button>
              <button class="btn btn-lg btn-outline-light">Resume</button>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://studentweb.cencol.ca/jhong52/images/guitar.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

          
          


        </div>

      </div>
    </section>


    <%- include .././partials/bottom_nav.ejs %>

      <%- include .././partials/footer.ejs %>