<%- include .././partials/header.ejs %>

  <%- include .././partials/main_nav.ejs %>

    <!-- MAIN CONTENTS -->
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col">
            My Picture goes Here!
            <img class="img-fluid" src="http://studentweb.cencol.ca/jhong52/images/ppucci.jpg" />
          </div>
          <div class="col">
            <p>Motivated! <br>
              Dedicated! <br>
              Lead the way Cobras!</p>
            <p>Find about Us</p>
          </div>
        </div>
      </div>
    </div>
    <%- include .././partials/bottom_nav.ejs %>

      <%- include .././partials/footer.ejs %>