<%- include .././partials/header.ejs %>

  <%- include .././partials/main_nav.ejs %>

    <!-- MAIN Page -->

    <section class="bg-dark text-light text-center p-5">
      <div class="container">
          <div>
            <h1>EVERYTHING IS AWESOME!</h1>
            <div class="row"> <!-- Line Starts-->
              <div class="col-3"></div>
              <div class="col-6"><hr></div>
              <div class="col-3"></div>
           </div> <!-- Line ends -->
            <h4>
              Everything is awesome!<br>
              Everything is cool when you're a part of a team!<br>
              Everything is awesome!          
            </h4>
            <div class="row"> <!-- Line Starts -->
              <div class="col-3"></div>
              <div class="col-6"><hr></div>
              <div class="col-3"></div>
           </div> <!-- Line Ends -->
            <button class="btn btn-lg btn-outline-light">FIND IT OUT!</button>
          </div>
      </div>
    </section>

    <%- include .././partials/bottom_nav.ejs %>

      <%- include .././partials/footer.ejs %>