<%- include .././partials/header.ejs %> 
<%- include .././partials/main_nav.ejs %> 

<!-- Main Contents: Services -->

<section class="bg-dark text-light text-center p-5">
  <div class="container">
    <div>
      <h1>SERVICES</h1>
      <div class="row">
        <!-- Line Starts-->
        <div class="col-3"></div>
        <div class="col-6">
          <hr>
        </div>
        <div class="col-3"></div>
      </div> <!-- Line ends -->
      <h4>
        The highest of<br>
        destinction is service to others<br>
        - King George IV -
      </h4>
      <div class="row">
        <!-- Line Starts -->
        <div class="col-3"></div>
        <div class="col-6">
          <hr>
        </div>
        <div class="col-3"></div>
      </div> <!-- Line Ends -->
    </div>
  </div>
</section>

<!-- Service Cards -->

<section>
  <div class="album mt-3 mb-5 bg-light">
    <div class="container">

      <div class="row text-center g-3">

        <!-- Card: 1 -->

        <div class="col">
          <div class="card shadow-sm">
            <img src="http://drive.google.com/uc?export=view&id=1afy7R_znGOTdi34iWKeXU4ExfUxuxLDk" class="card-img-top"
              alt="...">
            <div class="card-body">
              <p class="card-text"><b> Web Development </b>
                <hr>
                Well Designed Website<br>
                For Personal, Commercial Purposes
                <hr>
                HTML, CSS, JavaScript <br>
                MongoDB, Express, Angular, NodeJs
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-body">
                  <a href="mailto:jhong52@my.centennialcollege.ca" class="card-link">Send Inquary</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card: 2 -->

        <div class="col">
          <div class="card shadow-sm">
            <img src="http://drive.google.com/uc?export=view&id=1wruL0jnTYyafnDUuWD3CupuH0euHnMoQ" class="card-img-top"
              alt="...">
            <div class="card-body">
              <p class="card-text"><b>Mobile App Development</b>
                <hr>
                Fast, Reliable, Affordable <br>
                Mobile Application Development
                <hr>
                Java, Swift, Kotlin<br>
                HTML5, JavaScript
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-body">
                  <a href="mailto:jhong52@my.centennialcollege.ca" class="card-link">Send Inquary</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card: 3 -->

        <div class="col">
          <div class="card shadow-sm">
            <img src="http://drive.google.com/uc?export=view&id=1Yva5C0L_lffG394bdtyPedDzTrqy6Mjw" class="card-img-top"
              alt="...">
            <div class="card-body">
              <p class="card-text"><b>Business Consulting</b>
                <hr>
                One-stop IT Solution<br>
                For Small Business Owners
                <hr>
                6+ Years Experience<br>
                2016 TB Award Winner
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-body">
                  <a href="mailto:jhong52@my.centennialcollege.ca" class="card-link">Send Inquary</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include .././partials/bottom_nav.ejs %> 
<%- include .././partials/footer.ejs %> 